{% extends "sablon.html" %} 
{% block icerik %}
        <div class="ui middle aligned center aligned grid container" style="margin-top: 80px;">
           <div class="ui segment">
                <img class="ui medium left floated image" src="/static/images/foto9.JPG">
                <p>Kitaplığımı 2013 yılında oluşturdum. </p>
                <p>Amacım ilerleyen zamanlarda kendi kütüphanemi oluşturmaktı.<br> Bu hedef doğrultusunda her zaman kitap okuma isteğim vardı. <br>İlk olarak küçük bir kitaplık ile başladı ama hayallerimin peşinden giderek <br>elde etmek istediğim kütüphaneyi yapacağım.</p>
                <p>Kitap okumayı çok sevdiğim için sürekli kitap okuyorum <br> ve kitaplarımın belli bir yerde olmaması beni çok rahatsız ediyordu. <br>Kitaplığımı oluşturduktan sonra bir rahatlama geldi ve tüm okuduğum kitapları artık kendim satın alarak okumaya başlamıştım.<br> Böylece küçük adımlarla büyük yol kat ettim ve etmeye devam edeceğim. <br>Hayallerimin içerisinde kendi evim olunca bir odamı sadece kütüphaneye ayırmak istiyorum. <br>İstediğim zaman kahvemi alıp odama geçip saatlerce rahatsız edilmeden kitap okumak istiyorum.</p>
                <p>Kitaplığımın içerisinde değişik türden kitaplar var. Bunlar:<br>
                    Roman,<br>
                    Eğitim,<br> 
                    Psikoloji,<br> 
                    Öykü,<br>
                    Kişisel gelişim...<br> 
                  
                    </p>
                    <h4><p>“Sıradan insanların büyük televizyonları, sıradışı insanların ise büyük kütüphaneleri vardır...” 
                      <br>-ROBIN SHARMA</p></h4>
                </div>
                <div class="ui segment">
                <img class="ui medium right floated image" src="/static/images/foto10.JPG">
                <p>11.01.1997 yılında Muğla'nın Milas ilçesinin Söğütçük Mahallesinde doğdum.</p>
                <p>İlk ve ortaokulumu Kısırlar İlköğretim okulunda okudum. <br>Liseyi ise Atatürk Mesleki ve Teknik Anadolo Lisesinde okudum.<br> Üniversiteyi Muğla Sıtkı Koçman Üniversitesinde Bilgisayar ve Öğretim Teknolojileri Öğretmenliği bölümünde okumaktayım.</p> 
              <p>Benim hedefim Eğitim Bilimleri üzerinde Yüksek Lisans yapmak ve hayatımın geri kalanını eğitim üzerine geçirmek istiyorum.</p>
          </div>
        </div>
        </div>
{% endblock %}