{% extends "sablon.html" %} 
{% block icerik %}
     <h2 class="ui header" style="margin-top: 70px;">KİŞİSEL GELİŞİM KİTAPLARIM</h2>
     <div class="ui three column doubling stackable grid container">
            <div class="ui card column" style="margin-top: 14px;" >
                    <div class="image">
                      <img src="/static/images/r18.JPG">
                    </div>
                    <div class="content">
                      <a class="header">Usalık Gerektiren Kafaya Takmama Sanatı
                          

                      </a>
                      <div class="meta">
                        <span class="date">Basım Yılı:2019</span>
                      </div>
                      <div class="description">
                        Sorunsuz bir hayatı umut etme.
                        Öyle bir şey yok. Bunun yerine iyi sorunlarla dolu bir hayat dile.
                      </div>
                    </div>
                    <div class="extra content sc-yazim">
                    
                        <i class="user icon"></i>
                        Mark MANSON
                    
                    </div>
                  </div>
                  <div class="ui card column" >
                    <div class="image">
                      <img src="/static/images/r17.JPG">
                    </div>
                    <div class="content">
                      <a class="header">Bir Ömür Nasıl Yaşanır?
                          

                      </a>
                      <div class="meta">
                        <span class="date">Basım Yılı:2019</span>
                      </div>
                      <div class="description">
                        Ancak merak edersen, soru sorarsan zevk alırsın. Öyle boş boş bakmakla olmaz.
                      </div>
                    </div>
                    <div class="extra content sc-yazim">
                    
                        <i class="user icon"></i>
                       İlber ORTAYLI
                    
                    </div>
                  </div>
                  <div class="ui card column" >
                    <div class="image">
                      <img src="/static/images/r16.JPG">
                    </div>
                    <div class="content">
                      <a class="header">Vazgeçebilmek
                          

                      </a>
                      <div class="meta">
                        <span class="date">Basım Yılı:2018</span>
                      </div>
                      <div class="description">
                        Vazgeçebilmenin sırlarını öğrendiğinde bu dünyada hiçbir şey seni geride bırakmaktan ve yeniden başlamaktan alıkoyamacak.
                      </div>
                    </div>
                    <div class="extra content sc-yazim">
                    
                        <i class="user icon"></i>
                        Guy FINLEY
                    
                    </div>
                  </div>

    </div>
    {% endblock %}