{% extends "sablon.html" %} 
{% block icerik %}
     <div class="ui three column doubling stackable grid container"style="margin-top: 70px;">
            <div class="ui card column" style="margin-top: 14px;" >
                    <div class="image">
                      <img src="/static/images/r9.JPG">
                    </div>
                    <div class="content">
                      <a class="header">ROMAN</a>
                      
                      <div class="description">
                        Romanlarımdan bazıları...
                      </div>
                    </div>
                    <div class="extra content">
                      <a href="/roman">
                        <i class="book icon"></i>
                        8 
                      </a>
                    </div>
                  </div>
                  <div class="ui card column" >
                        <div class="image">
                          <img src="/static/images/r11.JPG">
                        </div>
                        <div class="content">
                          <a class="header">ŞİİR</a>
                          
                          <div class="description">
                           Şiir kitaplarım.
                          </div>
                        </div>
                        <div class="extra content">
                          <a href="/siir">
                            <i class="book icon"></i>
                          4 
                          </a>
                        </div>
                      </div>
                    
                          <div class="ui card column" >
                                <div class="image">
                                  <img src="/static/images/r19.JPG">
                                </div>
                                <div class="content">
                                  <a class="header">KİŞİSEL GELİŞİM</a>
                                 
                                  <div class="description">
                                   Kişisel Gelişim kitaplarımdan...
                                  </div>
                                </div>
                                <div class="extra content">
                                  <a href="/kisisel">
                                    <i class="book icon"></i>

                                    3 
                                  </a>
                                </div>
                              </div>
    </div>
    {% endblock %}