{% extends "sablon.html" %} 
{% block icerik %}
     <h2 class="ui header" style="margin-top: 70px;">ROMANLARIM</h2>
     <div class="ui four column doubling stackable grid container">
            <div class="ui card column" style="margin-top: 14px;" >
                    <div class="image">
                      <img src="/static/images/r7.JPG">
                    </div>
                    <div class="content">
                      <a class="header">İçimizdeki Şeytan
                          

                      </a>
                      <div class="meta">
                        <span class="date">Basım Yılı:2016</span>
                      </div>
                      <div class="description">
                        İnsan dünyaya sadece yemek, içmek, koynuna birini alıp yatmak için gelmiş olamazdı. Daha büyük ve insanca bir sebep lazımdı.
                      </div>
                    </div>
                    <div class="extra content sc-yazim">
                    
                        <i class="user icon"></i>
                        Sabahattin ALİ
                    
                    </div>
                  </div>
                  <div class="ui card column" >
                    <div class="image">
                      <img src="/static/images/r8.JPG">
                    </div>
                    <div class="content">
                      <a class="header">Acımak
                          

                      </a>
                      <div class="meta">
                        <span class="date">Basım Yılı:2009</span>
                      </div>
                      <div class="description">
                        Günümün birkaç saatini kitaplara verdim. Okurken başka bir dünyaya girer bütün dertlerimi unuturdum.
                      </div>
                    </div>
                    <div class="extra content sc-yazim">
                    
                        <i class="user icon"></i>
                        Reşat Nuri GÜLTEKİN
                    
                    </div>
                  </div>
                  <div class="ui card column" >
                    <div class="image">
                      <img src="/static/images/R1.JPG">
                    </div>
                    <div class="content">
                      <a class="header">Mutluluk
                          

                      </a>
                      <div class="meta">
                        <span class="date">Basım Yılı:2015</span>
                      </div>
                      <div class="description">
                        “Çoğu zaman akşamları bir kitabım olur, bir arkadaşım, güzel bir mektubum, biraz da müziğim. Aslında bunlardır benim mutluluk diyebileceğim şeyler.”
                      </div>
                    </div>
                    <div class="extra content sc-yazim">
                    
                        <i class="user icon"></i>
                        Zülfü LİVANELİ
                    
                    </div>
                  </div>
                  <div class="ui card column" >
                    <div class="image">
                      <img src="/static/images/r2.JPG">
                    </div>
                    <div class="content">
                      <a class="header">Kürk Mantolu Madonna
                          

                      </a>
                      <div class="meta">
                        <span class="date">Basım Yılı:2019</span>
                      </div>
                      <div class="description">
                        Tesadüf seni önüme çıkarmasaydı, gene aynı şekilde, fakat her şeyden habersiz, yaşayıp gidecektim. Sen bana dünyada başka bir hayatın da mevcut olduğunu, benim bir de ruhum bulunduğunu öğrettin.
                      </div>
                    </div>
                    <div class="extra content sc-yazim">
                    
                        <i class="user icon"></i>
                        Sabahattin ALİ
                    
                    </div>
                  </div>
                  <div class="ui card column" >
                    <div class="image">
                      <img src="/static/images/r3.JPG">
                    </div>
                    <div class="content">
                      <a class="header">Kuyucaklı Yusuf
                          

                      </a>
                      <div class="meta">
                        <span class="date">Basım Yılı:2016</span>
                      </div>
                      <div class="description">
                        Varlığı büyük boşlukları dolduracak mahiyette değildi; fakat yokluğu müthişti.
                      </div>
                    </div>
                    <div class="extra content sc-yazim">
                    
                        <i class="user icon"></i>
                        Sabahattin ALİ
                    
                    </div>
                  </div>
                  <div class="ui card column" >
                    <div class="image">
                      <img src="/static/images/r4.JPG">
                    </div>
                    <div class="content">
                      <a class="header">Simyacı
                          

                      </a>
                      <div class="meta">
                        <span class="date">Basım Yılı:2015</span>
                      </div>
                      <div class="description">
                        Ben de herkes gibiyim: Dünya gerçeklerine oldukları gibi değil de olmalarını istediğim gibi bakıyorum.
                      </div>
                    </div>
                    <div class="extra content sc-yazim">
                    
                        <i class="user icon"></i>
                        Paulo COELHO
                    
                    </div>
                  </div>
                  <div class="ui card column" >
                    <div class="image">
                      <img src="/static/images/r5.JPG">
                    </div>
                    <div class="content">
                      <a class="header">Kırmızı Saçlı Kadın
                          

                      </a>
                      <div class="meta">
                        <span class="date">Basım Yılı:2014</span>
                      </div>
                      <div class="description">
                        Bir kadınla üç şey yapabilirsin: Ya onu seversin, ya onun için acı çekersin ya da onu yazarsın.
                      </div>
                    </div>
                    <div class="extra content sc-yazim">
                    
                        <i class="user icon"></i>
                      Orhan PAMUK
                    
                    </div>
                  </div>
                  <div class="ui card column" >
                    <div class="image">
                      <img src="/static/images/r6.JPG">
                    </div>
                    <div class="content">
                      <a class="header">Bin Muhteşem Güneş
                          

                      </a>
                      <div class="meta">
                        <span class="date">Basım Yılı:2017</span>
                      </div>
                      <div class="description">
                        "Bu ülkeyi bu kadar çok sevmeme karşın,bazen çekip gitmeyi düşünüyorum,"dedi Babi.
                        "Nereye?"
                        "Unutmanın kolay olacağı bir yere..."
                      </div>
                    </div>
                    <div class="extra content sc-yazim">
                    
                        <i class="user icon"></i>
                        Khaled HOSSEINI
                    
                    </div>
                  </div>


                      
              
    </div>
    {% endblock %}