{% extends "sablon.html" %} 
{% block icerik %}
     <h2 class="ui header" style="margin-top: 70px;">ŞİİR KİTAPLARIM</h2>
     <div class="ui four column doubling stackable grid container">
            <div class="ui card column" style="margin-top: 14px;" >
                    <div class="image">
                      <img src="/static/images/r10.JPG">
                    </div>
                    <div class="content">
                      <a class="header">Hasretinden Prangalar Eskittim
                          

                      </a>
                      <div class="meta">
                        <span class="date">Basım Yılı:2014</span>
                      </div>
                      <div class="description">
                        Mağlup mu desem, mahçup mu?
                        Ama ikisi de değil,
                        Ben garip, sen güzel, dünya mutlu...
                        Öyle tuhafım bu akşamüstü.
                      </div>
                    </div>
                    <div class="extra content sc-yazim">
                    
                        <i class="user icon"></i>
                        Ahmet ARİF
                    
                    </div>
                  </div>
                  <div class="ui card column" >
                    <div class="image">
                      <img src="/static/images/r12.JPG">
                    </div>
                    <div class="content">
                      <a class="header">Göğe Bakma Durağı
                          

                      </a>
                      <div class="meta">
                        <span class="date">Basım Yılı:2009</span>
                      </div>
                      <div class="description">
                        Çok seviyorsun o çiçeği ama bir süre sonra ölüyor. 
                        Hatta sen çok su verdin diye ölüyor bazen. 
                        Bazı şeyler tam olarak böyle.
                      </div>
                    </div>
                    <div class="extra content sc-yazim">
                    
                        <i class="user icon"></i>
                        Turgut UYAR
                    
                    </div>
                  </div>
                  <div class="ui card column" >
                    <div class="image">
                      <img src="/static/images/r14.JPG">
                    </div>
                    <div class="content">
                      <a class="header">Üstü Kalsın
                          

                      </a>
                      <div class="meta">
                        <span class="date">Basım Yılı:2005</span>
                      </div>
                      <div class="description">
                        Sen şimdi kalkıp gidiyorsun.
                        Git.
                        Gözlerin durur mu onlarda gidiyorlar.Gitsinler.
                        Oysa ben senin gözlerinsiz edemem bilirsin..
                      </div>
                    </div>
                    <div class="extra content sc-yazim">
                    
                        <i class="user icon"></i>
                       Cemal Süreya
                    
                    </div>
                  </div>
                  <div class="ui card column" >
                    <div class="image">
                      <img src="/static/images/r13.JPG">
                    </div>
                    <div class="content">
                      <a class="header">Henüz Vakit Varken Gülüm
                          

                      </a>
                      <div class="meta">
                        <span class="date">Basım Yılı:2012</span>
                      </div>
                      <div class="description">
                        "Bir de kim bilir
                        sevdiğin kadın seni sevmez olur
                        ufak iş deme
                        yemyeşil bir dal kırılmış gibi gelir
                        içerdeki adama."
                      </div>
                    </div>
                    <div class="extra content sc-yazim">
                    
                        <i class="user icon"></i>
                        Nazım Hikmet RAN
                    
                    </div>
                  </div>
                  

                      
              
    </div>
    {% endblock %}